<?xml version="1.0"?> 
<packages>
  <package id="googlejapaneseinput" />
  <package id="google-chrome-x64" />
  <package id="firefox" />
  <package id="git" />
  <package id="virtualbox" />
  <package id="vagrant" />
  <package id="sublimetext2" />
  <package id="teraterm" />
  <package id="speccy" />
  <package id="procexp" />
  <package id="xmind" />
  <package id="pdfxchangeviewer" />
  <package id="jdk8" />
  <package id="mysql.workbench" />
  <package id="gimp" />
  <package id="ruby" />
  <package id="graphviz" />
</packages>
